.bookings-page {
    padding: 20px;
  }
  
  .bookings-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .bookings-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 200px;
  }
  
  .booking-card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
  }
  
  .booking-card:hover {
    transform: translateY(-5px);
  }
  
  .booking-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-card p {
    margin-bottom: 5px;
  }

  .navmistake{
    background-color: #20262e;
    width: 100%;
    height: 22px;
  
  }